.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.item {
    margin: 1px;
    flex: 1;
}

.red {
    height: 100px;
    background: red;
    flex: 2;
}

.orange {
    height: 100px;
    background: orange;
    flex: 3;
}

.green {
    height: 200px;
    flex: 1 100%;
    background: green;
}

.brown {
    background: brown;
    height: 150px;
}

.blue {
    background: blue;
    height: 150px;
}

.purple {
    background: purple;
    height: 150px;
}

@media only screen and (min-width : 375px) and (max-width : 667px) {
    .container > * { flex: 1 100%;}
    .blue, .purple {flex: 0;}
}


@media only screen and (min-width : 768px) and (max-width : 1024px)
{
    .purple {flex: 0;}
}